nav{
	background-color: #333;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 1%; 
	width: 100%;
}
a{
	font-family: 'Changa One', cursive;
	font-size: 40px;
	text-transform: uppercase;
	color: white;
}
a:hover {
	background-color: #660066;

}
p1{
	font-family: 'Proza Libre', sans-serif;
}