@import url('https://fonts.googleapis.com/css?family=Amaranth|Audiowide|Ultra');

body {
    background-image: url("../images/background.jpg");
    background-color: grey;
}
p.cvp {
	font-family: 'Amaranth', cursive;
	font-size:24px;
	text-align:center;
	left:13%;
	color:#E6EFE6;
	text-shadow: 3px 2px black;


}
h2{
	font-family: 'Amaranth', sans-serif;
	text-align: center-left;
	color:#E6EFE6;
	text-shadow: 3px 2px black;


}
div.flexbox {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 200px;
    height: 200px;

}

div.flexitem {
    color: white;
    background-color: #2B2B3B;
    width: 200px;
    height: 100px;
    margin: 10px;
    font-size: 18px;
}
div.other{
  font-family: 'Amaranth', cursive;
  font-size:24px;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
  text-align: right;
  align-self: center;;


}
div.core{
  font-family: 'Amaranth', cursive;
  font-size:24px;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
  text-align: left;

}
div.experienced{
  font-family: 'Amaranth', cursive;
  font-size:24px;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
  text-align: center;
}
p.standard {
	font-family: 'Audiowide', cursive;
	font-size:55px;
	text-align:center;
	position: absolute;
	top: 15%;
	left: 0%;
	width: 100%;
	margin: 0 auto;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  color: black;
}
h1.cv {
	font-family: 'Amaranth', cursive;
	font-size:50px;
	text-align:center;
	color:#E6EFE6;
	text-shadow: 3px 2px black;


}
p {
	font-family: 'Amaranth', sans-serif;
  color:#E6EFE6;
  font-size: 17px;
  text-shadow: 1px 1px 1px black;


}

p.bottom {
	font-family: 'Amaranth', sans-serif;
	font-size:12px;
	color:black;
	text-align:center;
}

#mylogo {
	display: block;
	left:0;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}
#btree{
  display: block;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
#welcome{
  font-family: 'Amaranth', cursive;
  font-size:50px;
  text-align:center;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
}
img.validator {
    display: block;
    margin: auto;
	  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;

}
nav{
	background-color: #333;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 0;
	margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
	width: 100%;
	font-family: 'Ultra', serif;
}
a.nav {
	padding-left:0.2em;
	font-size: 40px;
	color: white;
	text-decoration: none;
}
a.nav:hover {
	color: #3377ff;
	text-decoration: none;

}
#bio {
  font-family: 'Amaranth', cursive;
  text-align: left;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
}
#contact_form{
  font-family: 'Amaranth', cursive;
  text-align: center;
  color:#2B2B3B;
}
#message{
  background-color:#2B2B3B;
  color: inherit;
  color: white;
}
#email{
  background-color:#2B2B3B;
  color: inherit;
  color: white;
}
#name{
  background-color:#2B2B3B;
  color: inherit;
  color: white;
}
#surname{
  background-color:#2B2B3B;
  color: inherit;
  color: white;
}
#biolion{
    position: absolute;
    right: 14px;
    top: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;

}
a.top{
  font-family: 'Amaranth', cursive;
  font-size:20px;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
}
