@import url('https://fonts.googleapis.com/css?family=Amaranth|Audiowide|Ultra');

body {
    background-image: url("../images/background.jpg");
    background-color: grey;
}
p.cvp {
	font-family: 'Amaranth', cursive;
	font-size:24px;
	text-align:center;
	left:13%;
	
	
}
h2.core {
	font-family: 'Amaranth', sans-serif;
	text-align: center-left;
	
	
}

p.standard {
	font-family: 'Audiowide', cursive;
	font-size:55px;
	text-align:center;
	position: absolute;
	top: 15%;
	left: 0%;
	width: 100%;
	margin: 0 auto;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
h1.cv {
	font-family: 'Amaranth', cursive;
	font-size:50px;
	text-align:center;
	
}
p {
	font-family: 'Amaranth', sans-serif;
	color:black;
}

p.bottom {
	font-family: 'Amaranth', sans-serif;
	font-size:12px;
	color:black;
	text-align:center;
}

img.mylogo {
    display: block;
    margin: auto;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;

}

nav{
	background-color: #333;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 0;
	margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
	width: 100%;
	font-family: 'Ultra', serif;
}
a.nav {
	padding-left:0.2em;
	font-size: 40px;
	color: white;
	text-decoration: none;
}
a.nav:hover {
	color: #3377ff;
	text-decoration: none;

}
