 /*This url is used to get the fonts which are going to be used in the html*/
@import url('https://fonts.googleapis.com/css?family=Amaranth|Audiowide|Ultra');
/*Starting with body which is used for all my pages I have the background image*/
body {
    background-image: url("../images/background.jpg");/*Backgroundimage which is going to be used*/
    background-color: grey; /*This is the background color.It will be shown to the user in case the backbround image is not there*/
}
/*This is the p used for Curriculum vitae*/
p.cvp {
	font-family: 'Amaranth', cursive;/*This is the font I am using in this <p>*/
	font-size:1.5em; /*This is the font size I am using for this <p>.Using em so no user will face problems exploring the page on every browser and device.*/
	text-align:center;/*This style defines the place the <p> is going to be placed*/
	left:13%;/*Using left and a percentage will make the <p> placed on the place I prefer.Percentage is a good choice because it will not change if used on different devices and browsers*/
	color:#E6EFE6;/*This is the color im using for this font*/
	text-shadow: black; 3px;/*This style gives the font a shadow so it can be seen better and does not tiring the eye*/
}
/*This style is used for every h2 in the html*/

h2{
	font-family: 'Amaranth', sans-serif;
	text-align: left;
	color:#E6EFE6;
	text-shadow: 3px; 2px; black;
}
/*This is the flexbox, it is located to the bottom left of every page containing some informations*/
div.flexbox {
    position: absolute;/*Using absolute position will make no spaces*/
    display: -webkit-flex;/*This is used so the flex box can be seen on different browsers*/
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 200px;/*Width for the flexbox which can not be seen by the user because there is no background color for that*/
    height: 200px;/*Same with width, it can not be seen by the user.Used only for better placing*/

}
/*This style is for the flexitems, it is used to set the formation of the flexitems */
div.flexitem {
    color: white;
    background-color: #2B2B3B;
    width: 200px;
    height: 100px;
    margin: 10px;/*Margin is used to decide the space of the flexitem */
    font-size: 1.125em;
}
/*This is the style for the unordered list other skills on the cv page*/
div.other{
  font-family: 'Amaranth', cursive;
  font-size:1.5em;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
  text-align: right;/*This style is used for text alignment in this case is right*/


/*This is the style for the unordered list core skills on the cv page*/
}
div.core{
  font-family: 'Amaranth', cursive;
  font-size:1.5em;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
  text-align: left;
}
/*This is the style for the unordered list expeperienced with on the cv page*/

div.experienced{
  font-family: 'Amaranth', cursive;
  font-size:1.5em;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
  text-align: center;
}
/*This is the style of my page title "DIMITRIS PANAGIOTIDIS" */
p.standard {
	font-family: 'Audiowide', cursive;
	font-size:3.4375em;
	text-align:center;
	position: absolute;
	top: 15%;
	left: 0%;
	width: 100%;
	margin: 0 auto;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  color: black;
}
/*this style modifies the h1 on the page cv with the class cv*/
h1.cv {
	font-family: 'Amaranth', cursive;
	font-size:3.125em;
	text-align:center;
	color:#E6EFE6;
	text-shadow: 3px 2px black;
}
/*This style is for every p on all the html pages*/
p {
	font-family: 'Amaranth', sans-serif;
  color:#E6EFE6;
  font-size: 1.0625em;
  text-shadow: 1px 1px 1px black;
}
/*This style modifies the p inside the footer that defines the copyright*/
p.bottom {
	font-family: 'Amaranth', sans-serif;
	font-size:0.75em;
	color:black;
	text-align:center;
}
/*This style changes the logo of my page "jackal" to be in the left side*/
#mylogo {
	display: block;
	left:0;
	border: 1px solid #ddd;/*This style creates a border around the image*/
	border-radius: 4px;/*This is the border radius.The space between the image and the border*/
	padding: 5px;/*This is used to decide the space between image and border*/
}
/*This id is for the image used in the middle of the index.html page*/
#btree{
  display: block;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
/*This is the text that is used upside of the image in the middle of the page.It welcomes the user to the page*/
#welcome{
  font-family: 'Amaranth', cursive;
  font-size:3.125em;
  text-align:center;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
}
/*This style is used for the validator images under the footer*/
img.validator {
    display: block;
    margin: auto;
	  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
/*This style is used for the navbar on every page.Starting with index.html as a navigator bar to explore the site.*/
nav{
	background-color: #333;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 0;
	margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
	width: 100%;
	font-family: 'Ultra', serif;
}
/*All navbar's links style modification*/
a.nav {
	padding-left:0.2em;
	font-size: 2.5em;
	color: white;
	text-decoration: none;/*This style is used to decorate the links of the navbar*/
}
/*Navigation's bar hover style that is shown everytime the user is pointing one of the selections*/
a.nav:hover {
	color: #3377ff;
	text-decoration: none;

}
/*Every change to the modification of the text in bio page*/
#bio {
  font-family: 'Amaranth', cursive;
  text-align: left;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
}
/*Modifications on every block in contact form*/
#contact_form{
  font-family: 'Amaranth', cursive;
  text-align: center;
  color:#2B2B3B;
}
/*Modification on the color in text used for message box*/
#message{
  background-color:#2B2B3B;
  color: inherit;
  color: white;
}
/*Modification on the color in text used for email box*/
#email{
  background-color:#2B2B3B;
  color: inherit;
  color: white;
}
/*Modification on the color in text used for name box*/
#name{
  background-color:#2B2B3B;
  color: inherit;
  color: white;
}
/*Modification on the color in text used for surname box*/
#surname{
  background-color:#2B2B3B;
  color: inherit;
  color: white;
}
/*This style is used for the image in bio.html*/
#biolion{
    position: absolute;
    right: 14px;
    top: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
/*This is a link used in all pages expept index.html.It redirects the user to the top of the page*/
a.top{
  font-family: 'Amaranth', cursive;
  font-size:1.25em;
  color:#E6EFE6;
  text-shadow: 3px 2px black;
}
